<div class="container">
    <div class="flex flex-col gap-2">
        <div class="font-semibold text-xl text-minjus_blue">
            <span>Firmar PDF</span>
          </div>
      
          <mat-divider class="bg-minjus_blue"></mat-divider>
    
        <div class="font-semibold text-lg text-minjus_blue mt-3">
            <span>Archivos</span>
        </div>
    </div>

    <div>
        <app-load-file [objeto]="archivos"></app-load-file>

        <div class="w-full text-right mt-4">
            <button mat-flat-button class="!bg-minjus_primary !text-white !text-lg" (click)="onVerPDF()">
                <mat-icon><span class="material-symbols-outlined">visibility</span></mat-icon>
                Ver PDF
            </button>
        </div>
        <div class="w-full text-right mt-4">
            <button mat-flat-button class="!bg-minjus_primary !text-white !text-lg" (click)="iniciarFirma(f)">
                <mat-icon><span class="material-symbols-outlined">edit</span></mat-icon>
                Firmra PDF
            </button>
        </div>
    </div>
    <div *ngIf="pdfSrc">
        <iframe [src]="pdfSrc" width="100%" height="600px" frameborder="0"></iframe>
    </div>

</div>

<iframe name="hidden_iframe" style="display:none;"></iframe>


<div>
  <div>{{documento}}</div>
    <!--<form #f="ngForm" class="bit4id-sign" (ngSubmit)="iniciarFirma(f)" action="http://localhost:7000/generaqrdocumentosbackend/firmaUploadServlet" method="post">   -->
    <form #f="ngForm" class="bit4id-sign" id="formFirma"
      action="http://localhost:7000/generaqrdocumentosbackend/firmaUploadServlet" method="post">
      <div class="bit4id-signReq" style="display: none;">
        
        <div class="bit4id-document">{{documento}}</div>
        <div class="bit4id-preview">YES</div>
        <div id="bit4id-documentName" class="bit4id-documentName">test.pdf</div>
        <div id="bit4id-documentID" class="bit4id-documentID">01</div>
        <div class="bit4id-editpagepos">YES</div>
        <div class="bit4id-signatureType">PAdES</div>
        <div class="bit4id-localFile">NO</div> 
        <div class="bit4id-certInfo">CN</div>
        
        <span>bit4id-paragraphFormat: </span>
        <div class="bit4id-paragraphFormat" 
            style="display:inline">{{formato}}
        </div>
        <!--<div class="bit4id-image">{{urlLogoFirma}}</div>  -->
        <div class="bit4id-position">[50,50,200,100]</div>  
        <div class="bit4id-page">0</div>

      </div>
      <div>
        <fieldset>
          <div><h3>Document Signature</h3></div>
          <div><p><strong>Proceeding the document TestData.pdf will be signed, are you sure?</strong></p></div>
          <div id="bit4id-status"></div>
          <div>
            <input type="submit" value="FIRMAR" name="cmd" id="btnFirmar"> 
            <div id="bit4id-status" style="display: none;"></div>
          </div>
        </fieldset>
      </div>
    </form>
</div>

<div class="pt-3 text-lg">
  <div class="flex flex-col gap-1">
      <div class="flex items-center mt-1">
          <div class="flex items-center">
              <div class="flex">
                  <mat-icon class="text-minjus_red">picture_as_pdf</mat-icon>
              </div>
              <label class="ml-2 cursor-pointer underline" (click)="onVerArchivo('e4b99c9c-9ff7-4d5e-b2ed-535eed4a40e6')">Ver Archivo</label>
          </div>
      </div>
  </div>
</div>

  
