<div class="pt-3 text-lg">
    <div class="flex flex-wrap items-center gap-1">

        <input hidden type="file" accept="{{fileConfig.tipoArchivos}}" multiple #imgFileInput
            (change)="onCargarArchivo($event)" />

        <button mat-flat-button class="!bg-minjus_secondary !text-white !text-lg" (click)="onLimpiar()">
            <mat-icon><span class="material-symbols-outlined">cleaning_services</span></mat-icon>
            Limpiar
        </button>

        <button mat-flat-button class="!bg-minjus_success !text-white !text-lg" (click)="imgFileInput.click()">
            <mat-icon><span class="material-symbols-outlined">cloud_upload</span></mat-icon>
            Cargar
        </button>

        <div class="text-wrap pl-3">{{ objeto?.texto }}</div>
    </div>

    <div class="flex flex-col gap-1 mt-3">

        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let item of objeto?.data" hideToggle class="mat-expansion-panel-show">
                <mat-expansion-panel-header class="!w-full !h-auto !p-3 !pr-0">
                    <mat-panel-title class="!mr-0 !w-full" >

                        <div class="flex justify-between items-center w-full">
                            <div class="flex items-center mt-1">
                                <div class="flex rounded-full  hover:bg-gray-300 cursor-pointer p-1">
                                    <mat-icon (click)="onEliminarArchivo(item)" matTooltip="Eliminar">delete</mat-icon>
                                </div>
    
                                <div class="flex items-center ml-1">
                                    <div>
                                        <mat-icon class="text-minjus_red">picture_as_pdf</mat-icon>
                                    </div>
                                    <label class="ml-2 cursor-pointer underline" (click)="onVerArchivo(item.file)">{{
                                        item.file.name }}</label>
                                </div>
    
                                <div *ngIf="item.result" class="pl-3">
                                    <div class="flex items-center rounded-full {{getStatus(item.result.dato.resultado)}} p-1">
                                        <div class="flex"><mat-icon>{{ getIcon(item.result.dato?.resultado) }}</mat-icon></div>
                                        <div>{{ item.result.mensaje }}</div>                                         
                                    </div>
                                </div>
                            </div>
                            <div>
                                <mat-icon>expand_more</mat-icon>
                            </div>
                        </div>

                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Body-->
                <div *ngIf="item.result?.dato?.totalSignatures" class="ml-4">
                    <div class="pl-4">Cantidad de firmas : {{ item.result?.dato?.totalSignatures }}</div>

                    <div *ngFor="let x of item.result?.dato?.signatures">

                        <mat-accordion multi class="!overflow-auto">
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header class="mr-0 !h-auto !w-full">
                                    <mat-panel-title class="!w-full">
                                        <div class="flex items-center">
                                            <div class="flex">
                                                <mat-icon>expand_more</mat-icon>
                                            </div>
                                            <div class="flex rounded-full {{getStatus(x.status)}} p-1">
                                                <mat-icon>{{ getIcon(x.status) }}</mat-icon>
                                            </div>
                                            <div class="{{getStatus(x.status)}}">
                                                <table>
                                                    <tbody>
                                                        <tr class="w-full">
                                                            <td *ngIf="info.commonName" >{{ x.commonName }}</td>
                                                            <td *ngIf="info.signatureFormat" class="pl-3 text-right">{{ x.signatureFormat }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!-- Body-->

                                <div class="pl-8">
                                    
                                    <div class="flex flex-wrap">
                                        <div class="w-full overflow-auto">
                                            <h3 class="fw-500">INFORMACIÓN DE LA FIRMA</h3>

                                            <div class="flex flex-wrap text-sm">
                                                <div *ngIf="info.signatureDate" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Fecha de firma</div>
                                                    <div class="flex-grow">{{ x.signatureDate }}</div>
                                                </div>

                                                <div *ngIf="info.issuerDN" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Nombre del emisor</div>
                                                    <div class="flex-grow">{{ x.issuerDN }}</div>
                                                </div>

                                                <div *ngIf="info.validationStatus" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Estado de la firma</div>
                                                    <div class="flex-grow">{{ x.validationStatus }}</div>
                                                </div>

                                                <div *ngIf="info.trustStatus" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Estado de confianza</div>
                                                    <div class="flex-grow">{{ x.trustStatus }}</div>
                                                </div>

                                                <div *ngIf="info.revocationStatus" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Estado de revocación</div>
                                                    <div class="flex-grow">{{ x.revocationStatus }}</div>
                                                </div>

                                                <div *ngIf="info.validityStatus" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Estado de validez</div>
                                                    <div class="flex-grow">{{ x.validityStatus }}</div>
                                                </div>

                                                <div *ngIf="info.expirationDate" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Fecha de expiración</div>
                                                    <div class="flex-grow">{{ x.expirationDate }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full mt-3 overflow-auto">
                                            <h3 class="fw-500">INFORMACIÓN DEL CERTIFICADO</h3>

                                            <div class="flex flex-wrap text-sm">
                                                <div *ngIf="info.serialNumber" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Número de serial</div>
                                                    <div class="flex-grow">{{ x.certificateInformation.serialNumber }}</div>
                                                </div>

                                                <div *ngIf="info.ou" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">OU</div>
                                                    <div class="flex-grow">{{ x.certificateInformation.ou }}</div>
                                                </div>

                                                <div *ngIf="info.title" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Título</div>
                                                    <div class="flex-grow">{{ x.certificateInformation.title }}</div>
                                                </div>

                                                <div *ngIf="info.country" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">País</div>
                                                    <div class="flex-grow">{{ x.certificateInformation.country }}</div>
                                                </div>

                                                <div *ngIf="info.localy" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Local</div>
                                                    <div class="flex-grow">{{ x.certificateInformation.localy }}</div>
                                                </div>

                                                <div *ngIf="info.street" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Ciudad</div>
                                                    <div class="flex-grow">{{ x.certificateInformation.street }}</div>
                                                </div>

                                                <div *ngIf="info.organization" class="flex w-full flex-wrap p-1 border-b-1">
                                                    <div class="w-full md:w-1/3 fw-500">Organización</div>
                                                    <div class="flex-grow">{{ x.certificateInformation.organization }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>

                                <!-- Fin body-->

                            </mat-expansion-panel>
                        </mat-accordion>

                    </div>
                </div>

                <div *ngIf="item.result && !item.result.dato?.totalSignatures" class="ml-4">
                    <div>Cantidad de firmas : 0</div>
                </div>
                <!-- Fin body-->

            </mat-expansion-panel>
            
        </mat-accordion>

    </div>
</div>